<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>wrclub.net</title>
<style>
td{font-family:Verdana;font-size:10px;color:#000000}
.small{font-size:9px;padding-top:5px;padding-right:40px;}
.cap{font-family:HeliosExt;font-weight:bold;font-size:8px;color:#287729;padding-top:10px;}
.search{font-family:HeliosExt;font-weight:bold;font-size:8px;color:#003F67}
.best{font-family:HeliosExt;font-weight:bold;font-size:10px;color:#505050;padding-top:60px;padding-right:40px;}
</style>
</head>

<body topmargin="0" leftmargin="0" bottommargin="0" rightmargin="0">
<table cellpadding="0" cellspacing="0" border="0" height="100%"	>
<tr>
	<td rowspan="10" width="50%" height="100%" background="images/bg1222.jpg" style="background-position:right top; background-repeat:repeat-y"></td>
	<td rowspan="10" width="1" bgcolor="#000000"></td>
	<td colspan="2">
	<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" WIDTH=780 HEIGHT=189>		 
		 <PARAM NAME=movie VALUE="0142.swf">
		 <PARAM NAME=quality VALUE=high>
		 <PARAM NAME=bgcolor VALUE=#ffffff>
		 <EMBED src="0142.swf" quality=high bgcolor=#ffffff  WIDTH=780 HEIGHT=189 TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
		 </EMBED>
	</OBJECT>	
	</td>
	<td rowspan="10" width="1" bgcolor="#000000"></td>
	<td rowspan="10" width="50%" height="100%" background="images/bg1223.jpg" style="background-position:left top; background-repeat:repeat-y"></td>	
</tr>
<tr>
	<td valign="top" height="100%" background="images/bg011.gif">
	<table cellpadding="0" cellspacing="0" border="0" height="100%">
		<tr>
			<td><img src="images/cap01.jpg"></td>
		</tr>
		<tr>
			<form action="">
			<td width="284" height="217" background="images/bg01.jpg" valign="top" style="padding-top:25px;padding-left:55px;padding-right:40px;">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td colspan="2"><div class="search">Small company text about search of site and this search information.</div></td>
				</tr>
				<tr><td height="5"></td></tr>
				<tr>
					<td><select style="width:122;height:20"></select><br><input type="text" style="width:122;height:20"></td>
					<td><input type="image" src="images/g0.gif" border="0"></td>
				</tr>
				<tr><td height="8"></td></tr>
				<tr>
					<td colspan="2"><div class="search">Small company text about search of site and this search information.</div></td>
				</tr>
				<tr><td height="5"></td></tr>
				<tr>
					<td><select style="width:122;height:20"></select></td>
					<td><input type="image" src="images/g0.gif" border="0"></td>
				</tr>
				<tr><td height="6"></td></tr>
				<tr>
					<td colspan="2"><a href="" class="search" style="text-decoration:none;">More indormation here.</a></td>
				</tr>
			</table>
			</td>	
			</form>
		</tr>
		<tr>
			<td><img src="images/cap02.jpg"></td>
		</tr>
		<tr>
			<td width="284" height="261" background="images/bg02.jpg" valign="top" style="padding-top:10px;padding-right:30px;padding-left:40px;">
			Adjustment layers and fill layers add another level of flexibility to working with layers. Adjustment layers allow you to experiment with color and apply tonal adjustments to an image; fill layers allow you to quickly add color, patterns, and gradient elements to an image. If you change your mind about the results, you can go back and edit or remove the adjustment or fill at any time.
			<a href=""><img src="images/moreinfo.gif" border="0" vspace="10"></a>
			</td>	
		</tr>
		<tr>
			<td height="100%"></td>
		</tr>
		<tr>
			<td><img src="images/pay.jpg"></td>
		</tr>
		<tr>
			<td height="55"></td>
		</tr>
	</table>
	</td>
	<td valign="top" height="100%" background="images/bg012.gif">
	<table cellpadding="0" cellspacing="0" border="0" height="100%">
		<tr>
			<td colspan="2"><img src="images/subheader.jpg"></td>
		</tr>
		<tr>
			<td colspan="2" width="496" height="41" background="images/stext.jpg" style="padding-left:40px;padding-right:20px;">Adjustment layers and fill layers add another level of flexibility to working with layers. Adjustment layers allow you to experiment with color and apply tonal </td>
		</tr>
		<tr>
			<td width="245" height="177" background="images/w02.jpg" style="padding-left:30px;padding-top:40px;" valign="top">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><img src="images/book01.jpg" hspace="10" vspace="5"></td>
					<td width="180" valign="top">
					<div class="cap">PRODUCT NAME</div>
					<div class="small">Small company text about search of site and this search information.</div>
					</td>
				</tr>
				<tr>
					<td align="center"><a href=""><img src="images/buy.jpg" border="0"></td>
					<td><a href=""><img src="images/moreinfo.jpg" border="0"></a></td></td>
				</tr>
			</table>
			</td>
			<td width="251" height="177" background="images/w03.jpg" valign="top" style="padding-left:11px;padding-top:40px;">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><img src="images/book01.jpg" hspace="10" vspace="5"></td>
					<td width="180" valign="top">
					<div class="cap">PRODUCT NAME</div>
					<div class="small">Small company text about search of site and this search information.</div>
					</td>
				</tr>
				<tr>
					<td align="center"><a href=""><img src="images/buy.jpg" border="0"></td>
					<td><a href=""><img src="images/moreinfo.jpg" border="0"></a></td></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td width="245" height="172" background="images/w04.jpg" style="padding-left:30px;padding-top:40px;" valign="top">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><img src="images/book01.jpg" hspace="10" vspace="5"></td>
					<td width="180" valign="top">
					<div class="cap">PRODUCT NAME</div>
					<div class="small">Small company text about search of site and this search information.</div>
					</td>
				</tr>
				<tr>
					<td align="center"><a href=""><img src="images/buy.jpg" border="0"></td>
					<td><a href=""><img src="images/moreinfo.jpg" border="0"></a></td></td>
				</tr>
			</table>
			</td>
			<td width="251" height="172" background="images/w05.jpg" valign="top" style="padding-left:11px;padding-top:40px;">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><img src="images/book01.jpg" hspace="10" vspace="5"></td>
					<td width="180" valign="top">
					<div class="cap">PRODUCT NAME</div>
					<div class="small">Small company text about search of site and this search information.</div>
					</td>
				</tr>
				<tr>
					<td align="center"><a href=""><img src="images/buy.jpg" border="0"></td>
					<td><a href=""><img src="images/moreinfo.jpg" border="0"></a></td></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td width="245" height="175" background="images/w06.jpg" style="padding-left:30px;padding-top:40px;" valign="top">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><img src="images/book01.jpg" hspace="10" vspace="5"></td>
					<td width="180" valign="top">
					<div class="cap">PRODUCT NAME</div>
					<div class="small">Small company text about search of site and this search information.</div>
					</td>
				</tr>
				<tr>
					<td align="center"><a href=""><img src="images/buy.jpg" border="0"></td>
					<td><a href=""><img src="images/moreinfo.jpg" border="0"></a></td></td>
				</tr>
			</table>
			</td>
			<td width="251" height="175" background="images/w07.jpg" style="padding-left:11px;padding-top:40px;" valign="top">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><img src="images/book01.jpg" hspace="10" vspace="5"></td>
					<td width="180" valign="top">
					<div class="cap">PRODUCT NAME</div>
					<div class="small">Small company text about search of site and this search information.</div>
					</td>
				</tr>
				<tr>
					<td align="center"><a href=""><img src="images/buy.jpg" border="0"></td>
					<td><a href=""><img src="images/moreinfo.jpg" border="0"></a></td></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" height="100%" valign="bottom" align="center" style="padding-bottom:15px;"><div class="best" style="font-size:9px;">Copyright &copy; 2003. Company Name. All rights reserved.</div></td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td colspan="2"><a href=""><img src="images/f01.jpg" border="0"></a><a href=""><img src="images/f02.jpg" border="0"></a><a href=""><img src="images/f03.jpg" border="0"></a><a href=""><img src="images/f04.jpg" border="0"></a><a href=""><img src="images/f05.jpg" border="0"></a><a href=""><img src="images/f06.jpg" border="0"></a></td>
</tr>
</table>
</body>
</html>
